<phpunit bootstrap="./tests/bootstrap.php"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
         
    <php>
        <var name="DB_DSN" value="mysql:dbname=trykicovers_test;host=127.0.0.1" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_DBNAME" value="trykicovers_test" />
    </php>

    <testsuites>
        <testsuite name="trykicovers">
            <directory>./tests/Trykicovers</directory>
        </testsuite>
    </testsuites>
</phpunit>
